<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/style/index.css">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light image-logo">
        <img class="logo" src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
        <a class="navbar-brand" style="color: white" href="#">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white">Luyện tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white">Bài thi</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 solid">
        <div class="row mt-3">
            <div class="col-6 d-flex align-items-center">
                <h2>DANH SÁCH BÀI THI </h2>
            </div>
            <div class="col-6 ">
                <nav class="navbar navbar-light bg-light d-flex flex-row-reverse">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row-reverse" style="padding-right: 30px; min-width: 200px;">
                <div class="dropdown mt-2">
                    <button class="btn btn-secondary dropdown-toggle text-align "
                        style="background-color: white; color: black; max-width: 307px; min-width: 307px;" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item selected" style=" min-width: 305px;" href="#">dit me hieu</a>
                        <a class="dropdown-item selected" style=" min-width: 305px;" href="#">Another action</a>
                        <a class="dropdown-item selected" style=" min-width: 305px;" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-10 ">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="">Lectures</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                                    cumque odit
                                    rerum, qui assumenda esse. Porro assumenda, non alias est doloribus enim ut?
                                    Assumenda,
                                    quis dolorem et nostrum placeat maiores.</a></th>
                        </tr>
                        <tr>
                            <td scope="row"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                                    cumque odit
                                    rerum, qui assumenda esse. Porro assumenda, non alias est doloribus enim ut?
                                    Assumenda,
                                    quis dolorem et nostrum placeat maiores.</a></th>
                        </tr>
                        <tr>
                            <td scope="row"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                                    cumque odit
                                    rerum, qui assumenda esse. Porro assumenda, non alias est doloribus enim ut?
                                    Assumenda,
                                    quis dolorem et nostrum placeat maiores.</a></th>
                        </tr>
                        <tr>
                            <td scope="row"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                                    cumque odit
                                    rerum, qui assumenda esse. Porro assumenda, non alias est doloribus enim ut?
                                    Assumenda,
                                    quis dolorem et nostrum placeat maiores.</a></th>
                        </tr>




                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

</body>

</html>


<script>
    const selected = document.querySelectorAll('.selected')
    const content = document.querySelector('#dropdownMenuButton')
    selected.forEach(button => {
        button.addEventListener('click', () => {
            content.textContent = button.innerHTML
        })
    })


</script>